@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 font-poppins;
}

#root {
  @apply flex flex-col min-h-screen;
}

.nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #1a202c; /* Darker shade of blue */
  color: #fff; /* White text */
}


/* Responsive classes */
@media (max-width: 768px) {
  .mobile-menu-button {
    color: white; /* Change color of menu button */
  }
}
